<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="d-flex vh-100 flex-col align-items-center">
    <div class="container">
            <div class="col-md-12 vh-100 text-center">
                <span class="display-1 d-block"><%= errorCode %></span>
                <div class="mb-4 lead"><%=errorMessage%></div>
                <a href="/home" class="btn btn-link">Back to Home</a>
        </div>
    </div>
</div>