<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body>

<main>
  <body class="text-center">
    <div class="cover-container d-flex vh-100 p-3 mx-auto flex-column justify-content-center align-items-center align-middle">
      
      <main role="main" class="inner cover vh-100 d-flex flex-column justify-content-center">
        <h1 class="cover-heading">Welcome to TinyApp</h1>
        <p class="lead">TinyApp is a simple URL shortener. Login or Register to use TinyApp.</p> 
        <div class="d-flex justify-content-center">
        <p class="lead">
          <form class="form-inline mx-2" action="/register" method="GET">
            <button type="submit" class="btn btn-lg btn-secondary">Register</button>
          </form>
          <form class="form-inline mx-2" action="/login" method="GET">
            <button type="submit" class="btn btn-lg btn-secondary">Log in</button>
          </form>
        </p>
      </div>
      </main>
    </div>
  </body>
</main>